# KDE Desktop Entry
[Desktop Entry]
Name=Oxygen Transparent
Name[es]=Oxígeno transparente
Name[et]=Oxygen Transparent
Name[nl]=Oxygen Transparant
Name[pt]=Transparente do Oxygen
Name[pt_BR]=Transparente do Oxygen
Name[sv]=Oxygen genomskinlig
Name[uk]=Прозорий Oxygen
Name[x-test]=xxOxygen Transparentxx

Comment=Transparent styling of the next generation desktop
Comment[es]=Estilo transparente del escritorio de la próxima generación
Comment[et]=Uue põlvkonna töölaua läbipaistev stiil
Comment[nl]=Transparante stijl voor de volgende generatie bureaubladen
Comment[pt]=Estilo transparente do ambiente de trabalho da próxima geração
Comment[pt_BR]=Estilo transparente da próxima geração de área de trabalho
Comment[sv]=Genomskinlig stil för nästa generations skrivbord
Comment[uk]=Прозорий стиль стільниці наступного покоління
Comment[x-test]=xxTransparent styling of the next generation desktopxx

X-KDE-Library=kwin3_oxygen_transparent

X-KDE-PluginInfo-Author=Nuno Pinheiro, Casper Boemann, Riccardo Iaconelli, Huynh Huu Long, Thomas Luebking, Hugo Pereira Da Costa, Matthew Woehlke
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org, cbr@boemann.dk, riccardo@kde.org, long.upcase@googlemail.com, thomas.luebking@web.de, hugo@oxygen-icons.org, mw_triad@users.sourceforge.net
X-KDE-PluginInfo-Name=Oxygen
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
