# KDE Desktop Entry
[Desktop Entry]
Name=Oxygen
Name[ar]=أكسجين
Name[be]=Oxygen
Name[bg]=Oxygen
Name[cs]=Oxygen
Name[de]=Oxygen
Name[el]=Oxygen
Name[en_GB]=Oxygen
Name[eo]=Oxygen
Name[es]=Oxygen
Name[et]=Oxygen
Name[fi]=Oxygen
Name[fr]=Oxygen
Name[ga]=Oxygen
Name[gl]=Oxygen
Name[hne]=आक्सीजन
Name[hu]=Oxygen
Name[it]=Oxygen
Name[ja]=Oxygen
Name[km]=អុកស៊ីហ្សែន
Name[ko]=Oxygen
Name[mai]=आक्सीजन
Name[nds]=Oxygen
Name[nl]=Oxygen
Name[nn]=Oksygen
Name[pa]=ਆਕਸੀਜਨ
Name[pt]=Oxygen
Name[pt_BR]=Oxygen
Name[ro]=Oxygen
Name[ru]=Oxygen
Name[sv]=Oxygen
Name[th]=Oxygen 
Name[tr]=Oxygen
Name[uk]=Oxygen
Name[x-test]=xxOxygenxx
Name[zh_CN]=Oxygen
Name[zh_TW]=Oxygen

Comment=Styling of the next generation desktop
Comment[be]=Стыль працоўных сталоў наступнага пакалення
Comment[en_GB]=Styling of the next generation desktop
Comment[es]=Estilo del escritorio de la próxima generación
Comment[et]=Uue põlvkonna töölaua stiil
Comment[it]=Stile per il desktop di prossima generazione
Comment[ko]=다음 세대 데스크톱 스타일
Comment[nds]=Stil för den kamen Schriefdisch
Comment[pt]=O estilo do ambiente de trabalho da próxima geração
Comment[pt_BR]=O estilo da próxima geração de área de trabalho
Comment[ru]=Стиль рабочего стола следующего поколения
Comment[sv]=Stil för nästa generations skrivbord
Comment[uk]=Стиль стільниці наступного покоління
Comment[x-test]=xxStyling of the next generation desktopxx

X-KDE-Library=kwin3_oxygen

X-KDE-PluginInfo-Author=Nuno Pinheiro, Casper Boemann, Riccardo Iaconelli, Huynh Huu Long, Thomas Luebking, Hugo Pereira Da Costa, Matthew Woehlke
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org, cbr@boemann.dk, riccardo@kde.org, long.upcase@googlemail.com, thomas.luebking@web.de, hugo@oxygen-icons.org, mw_triad@users.sourceforge.net
X-KDE-PluginInfo-Name=Oxygen
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
